#root {
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px; 
  --primary: #5e35b1
}
defaultFont {
  font-family: 'Bitter', serif, 'Chakra Petch', sans-serif;
}
